.social-icon{
    margin-right: 0.8rem;
}

.social-icon:hover{
    transform: rotateY(360deg);
    transition: 3s;
}

.profile-img{
    border-radius: 50%;
    padding: 0.4rem;
    width: 12rem;
    height: 12rem;
}

.profile-img:hover {
    box-shadow: 0 0 2px 1px rgba(244, 246, 244, 0.5);
}

.bio{
    font-size: 2rem;
    font-weight: bold;
}

.greeting{
    font-size: 1.5rem;
    font-weight: bold;
}

.inline-link:hover{
    font-size: large;
}
